html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

:root {
    /* colors */
    --green: #7FDE88;
    --red: #F15F5F;
    --dark: #202020;
    --secondary-dark: #747474;
    --white: #ffffff;
    --secondary-white: #F5F5F5;

    /* font sizes */
    --title: 3.2rem;
    --sub-title: 1.8rem;
    --tabs-text: 1.5rem;
    --primary-text: 1.4rem;

    /* extra */
    --lateral-padding: 40px;
    --header-height: 160px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* app */
#root {
    width: 100vw;
    height: 100vh;
    color: var(--dark);
}

.app-header {
    height: 160px;
    padding: 36px var(--lateral-padding);
}

.app-header__title {
    font-size: var(--title);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.app-header-logo {
    margin-left: 8px;
    height: 32px;
}

.quote {
    margin-top: 15px;
    padding: 3px 12px;
    border-left: solid 5px var(--dark);
    font-size: var(--primary-text);
    overflow-x: hidden;
}

.quote__values-container{
    position: relative;
    left: 0;
    transition: left 2s ease-out;
    max-width: 285px;
}

.quote__values-container--hide{
    left: -285px;
}

.todos-section {
    height: calc(100% - var(--header-height));
    padding: 0 var(--lateral-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.todos-section__stats {
    margin: 20px 0;
    font-weight: 600;
    font-size: var(--sub-title);
}

.todos-section__main {
    width: 100%;
}

/* search bar*/
.search-bar {
    background-color: var(--white);
    width: 100%;
    height: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 21px;
}

.search-bar__icon {
    position: absolute;
    left: 9px;
    top: 6px;
}

.search-bar__text-input {
    border: none;
    width: 80%;
    text-align: center;
}

.search-bar__text-input:focus-visible {
    outline: none;
}



/* tabs */
.todos-section__main__tabs-container {
    display: flex;
    justify-content: space-between;
}

.todo-tab {
    width: 80px;
    padding: 3px 0;
    border: none;
    border-bottom: solid 2px var(--dark);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    transition: width 0.2s;
}

.todo-tab.selected {
    width: 125px;
}

.todo-tap__text {
    font-size: var(--tabs-text);
}

.todo-tap__counter {
    width: 17px;
    height: 17px;
    font-size: var(--primary-text);
    background-color: var(--white);
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tab-pending>.todo-tap__counter {
    color: var(--red);
}

#tab-done>.todo-tap__counter {
    color: var(--green);
}

/* todos*/
.todos-container {
    margin-top: 40px;
    overflow-y: scroll;
    width: 100%;
    max-height: 395px;
}

.todo-item {
    width: 100%;
    height: 53px;
    margin: 0 0 21px 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--primary-text);

    background-color: var(--white);
    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.todo-item.checked {
    text-decoration: line-through;
    background-color: var(--secondary-white);
}

.todo-item__text {
    text-align: center;
    max-width: 220px;
    overflow-wrap: break-word;
}

.todo-item__check-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px #767676;
    background-color: var(--white);
}

.todo-item.checked .todo-item__check-btn {
    background-color: var(--green);
    border: none;
    background-image: url("./Assets/Icons/CheckArrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.todo-item__delete-btn {
    width: 21px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.todo-item__delete-btn__icon {
    width: 100%;
    height: 100%;
}

.create-todo-btn {
    background: none;
    border: none;

    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--white);
    right: 15px;
    bottom: 15px;
    color: var(--green);
    font-size: 50px;
    cursor: pointer;
}

.modal-content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content.hide {
    display: none;
}

.create-todo-form {
    background-color: var(--secondary-white);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
}

.create-todo-form__input {
    width: 100%;
    height: 53px;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.create-todo-form__buttons-container {
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.create-todo-form-btn {
    width: 145px;
    border-radius: 15px;
    border: none;
    font-size: var(--tabs-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.create-todo-form__cancel-btn {
    background-color: var(--white);
    border: solid 2px var(--red);
    color: var(--red);

}

.create-todo-form__sumbit-btn {
    background-color: var(--green);
    color: white;
    font-weight: 600;
}

.button {
    transition: transform 0.2s;
}

.button:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 5px #FFFFFF;
}

/* notifications */

.notifications-area {
    width: 100vw;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}

.alert-container {
    background-color: var(--red);
    width: 273px;
    height: 61px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 1s cubic-bezier(.33, 1.38, .13, .95);
}

.alert-container.visible {
    top: 48px;
}

.alert-container__text {
    width: 100%;
    color: white;
    font-size: var(--tabs-text);
    font-weight: 400;
    text-align: center;
}

.alert-container__close-btn {
    position: absolute;
    top: 66px;
    width: 50px;
    height: 50px;
    background-color: var(--red);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}