@keyframes loading-anim {
    0% {
        background-color: #4fad60;
    }

    100% {
        background-color: #dcdcdc;
    }
}

.todo-loading-skeleton {
    width: 100%;
    height: 53px;
    margin: 0 0 21px 0;
    padding: 0 12px;

    border-radius: 10px;

    animation-name: loading-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}